.movies {
  display: flex;
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
  width: 18%;
  margin-bottom: 1em;
}

#adult {
  filter: blur(10px);
}

#adult:hover {
  filter: blur(0px);
}

.App{
  padding-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
}
.imgs {
  width: 14em;
}


/* 
.box-1 {
  width: 50%;
}
*/
.box-2 {
  padding-right: 0.1em;
} 

strong {
  font-size: 1em;
}

p {
  font-size: 0.9em;
}

@media (min-width: 500px) { 
  .imgs:hover {
    width: 16em;
    transition: 200ms;
  }
}

@media (max-width: 500px) { 
  .movies {
    width: 100%;
    margin-bottom: 1em;
  }
  .imgs {
    object-fit: contain;
    width: 100%;
  }
 }
